@import "~open-color/open-color.scss";

// $--color-navbar: $oc-green-7;
// $--color-navbar-text: $oc-gray-1;
// $--color-table-second-row: $oc-green-1;

// $--color-navbar: $oc-orange-5;
// $--color-navbar-text: $oc-blue-7;

$--color-navbar: $oc-blue-8;
$--color-navbar-text: $oc-orange-5;
$--color-table-second-row: $oc-orange-1;
// $--color-box-background-color: #ddd4c9;
$--color-box-background-color: $oc-gray-1;
$--color-button: $oc-gray-3;
$--color-button-selected: $oc-red-5;
$--color-button-selected-text: $oc-gray-1;
$--color-table-hover: $oc-red-5;
$--color-body-text: $oc-gray-8;


$--box-shadow-values: 2px 2px 20px rgba(0,0,0,0.3);

$--body-background-color: $oc-orange-0;

