@import "~open-color/open-color.scss";

$--color-navbar: $oc-green-7;
$--color-navbar-text: $oc-gray-1;
$--color-table-second-row: $oc-green-1;

$--box-shadow-values: 2px 2px 20px rgba(0,0,0,0.3);

$--body-background-color: $oc-green-0;

